body {
  /* position: relative; */
  background: #fff;
  margin: auto;
  border: auto;
  font-family: "Inter", sans-serif !important;
  display: flex;
  flex-direction: column;
}

.bg {
  display: flex;
  flex-direction: column;
  background-image: url("./Images/background/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Inter", sans-serif !important;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-top: 74px;
}

.up {
  color: #172b4d;
  margin-bottom: 0;
}

.down {
  color: #089744;
  margin-top: 0;
}

header {
  display: flex;
  margin: 5%;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.logo {
  display: flex;
  flex: 1;
  font-family: "Inter", sans-serif !important;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

#menu {
  justify-content: flex-end;
}

.header {
  display: flex;
  justify-content: center;
}

.intro {
  font-family: "Inter", sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin: 20px;
  color: #172b4d;
}

.social-media {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  list-style: none;
  padding-left: 102.42px;
  padding-right: 102.42px;
}

.down-btn {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 0%;
  padding-left: 0%;
}

.recent-work {
  display: grid;
  grid-template-rows: 97px 4px 474px 474px 474px 474px 474px;
  justify-content: center;
  place-items: center;
  row-gap: 24px;
}

.recent-work-title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-bottom: 0%;
  grid-row: 1/2;
}

.section-2-green-title-line {
  margin-top: 5%;
  grid-row: 2/3;
  place-items: center;
}

.w1 {
  grid-row: 3/4;
}

.w2 {
  grid-row: 4/5;
}

.w3 {
  grid-row: 5/6;
}

.w4 {
  grid-row: 6/7;
}

.w5 {
  grid-row: 7/8;
}

.work-1-container {
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 474px;
  border: 1px solid #d0d9d4;
  background: #ebf0ee;
  border-radius: 8px;
  margin-top: 62px;
}

.project-image {
  width: 100%;
  height: 252px;
  justify-content: flex-start;
}

.work-bottom-cont {
  border: 1px solid #fff;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  justify-content: flex-end;
}

.project-title {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
  margin-bottom: 0;
}

.Language-tags {
  list-style: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #3a4a42;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 0;
  margin-top: 0%;
}

.lang-tag {
  background-color: #ebf0ee;
  padding: 8px;
  border-radius: 4px;
  margin: 8px;
}

.project-button {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  text-align: center;
  padding: 12px;
  gap: 10px;
  width: 122px;
  height: 48px;
  bottom: 8px;
  background: #36b37f;
  border-radius: 4px;
  margin-bottom: 28px;
  border: 0;
}

.project-button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.project-button:active {
  background-color: #008552;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url("./Images/about-me-mobile.svg");
  background-repeat: no-repeat;
  margin-top: 64px;
}

.about-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  order: 0;
  margin-bottom: 24px;
}

.about-me-para {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin: 0 12px 0 12px;
  order: 1;
}

.resume-butto-cont {
  order: 2;
  margin-top: 24px;
}

.resume-button {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: #36b37f;
  border: none;
  border-radius: 4px;
  width: 159px;
  height: 48px;
  margin-bottom: 59px;
}

.resume-button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.resume-button:active {
  background-color: #008552;
}

.placard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0;
}

.placard-about {
  width: 327px;
  height: 352px;
  margin-bottom: 24px;
  box-sizing: border-box;
  background-color: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.placard-title {
  width: 337px;
  height: 32px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.placard-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  padding-left: 0%;
  margin-left: 0%;
}

.tag {
  background: #fff;
  padding: 12px;
  border-radius: 8px;
  margin: 8px;
}

.end-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  border: 1px solid #D0D9D4;
  width: 327px;
}

#f-button {
  width: 105px;
  height: 24px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffff;
  background-color: #36b37f;
}
