body {
  position: relative;
  width: 375px;
  height: 6715px;
  background: #fff;
}

.bg {
  background-image: url("./Images/background/bg.svg");
  height: 648px;
  background-repeat: no-repeat;
}

header {
  display: flex;
  margin-top: 10%;
}

#welcome {
  display: flex;
  flex: 1;
  font-family: "Inter", sans-serif !important;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

#menu {
  justify-content: flex-end;
}

.highlight {
  display: flex;
  flex: 1;
  margin-left: 13.62%;
  margin-right: 13.62%;
  margin-top: 21.3%;
  font-family: "Inter", sans-serif !important;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.intro {
  /* font-family: 'Inter'; */
  font-family: "Inter", sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.social-media {
  display: flex;
  flex: 1;
  padding: 10%;
  justify-content: center;
  justify-content: space-around;
}
